
.header{
    width: 100%;
    height: 350px;
    // border-bottom: 2px solid #ddd;
    // background-color: #ddd;
    position: fixed;
    top: 0;
    z-index: 10;
    background: url('../carousel/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-size: cover; 
    -o-background-size: cover;   
    -moz-background-size: cover;   
    -webkit-background-size: cover;
    background-position: 0 45%;
    .app-name{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 30px;
        z-index: 9;
       .headtitle{
            font-size: 4.7rem;
            font-weight: bold;
            display: inline-block;
            color: gold;
            z-index: 9;
            transform: skew(32deg,-6deg);
        }
        .headsubtitle{
            font-size: 2rem;
            font-weight: 600;
            display: inline-block;
            color: whitesmoke;
            transform: skew(37deg,-7deg);
            margin-left: 57px;
             margin-top: -10px;
        }
        
    }
    .app-name::before{
        content: '';
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        transform: skew(40deg,-7deg) scale(1.1);
    }
}
.header::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}
.banner{
    height: 220px;
    background-color: transparent;
}
.header-caption{
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    margin-top: 250px;
    h2{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 30px;
        color: aliceblue;
    }
}