.leftSidebar{
    width: 250px;
    height:100%;
    border-right: 1px solid #ddd;
    background-color: white;
    margin-top: 93px;
    ul{
        li{
            padding: 50px 20px;
            font-size: 1.5rem;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            text-align: center;
            list-style: none;
        }
        // li:hover{
        //     background-color: #ddd;
        //     color: #333;
        // }
    }
    .categorycaption{
        li{
            background-color: white;
            color: black;
            font-size: 2rem;
            padding: 30px 20px;
            cursor: default;
            border-right: 1px solid #eee;
            text-align: center;
            font-weight: 600;
            list-style: none;
            position: fixed;
            top: 350px;
            left: 0;
            width: 250px;
        }
        // li:hover{
        //     background-color: white;
        //     color: black;
        // }
    }
    .active_menu_{
        background-color: #eee !important;
        color: gray;
        border: none;
    }
}