* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  display: flex;
}

.sideNav {
  width: 200px;
  height: 100%;
  background-color: beige;
  border-right: 1px solid #ccc;
}
.sideNav ul {
  width: 100%;
  margin-top: 70px;
}
.sideNav ul li {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  color: gray;
  font-weight: 700;
}
.sideNav ul li .category-lists {
  width: 100%;
  list-style: none;
  margin-top: 5px;
}
.sideNav ul li .category-lists li {
  margin-left: 10px;
  padding: 5px;
  color: gray;
  font-weight: 400;
}
.sideNav ul li .category-lists li:hover {
  text-decoration: underline;
}
.sideNav ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}
.sideNav ul li a:hover {
  color: skyblue;
}
.sideNav ul li:hover {
  color: skyblue;
}

.rightContent {
  width: calc(100% - 200px);
  height: 100%;
}

.banner {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.banner h1 {
  padding: 15px 40px;
  color: gray;
  font-size: 1.5rem;
}

.content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.products-container,
.category-container {
  width: 90%;
  margin: 15px auto;
  padding: 10px;
}
.products-container table,
.category-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 40px;
}
.products-container table td, .products-container table th,
.category-container table td,
.category-container table th {
  border: 1px solid #ddd;
  padding: 5px;
}
.products-container table th,
.category-container table th {
  background-color: beige;
  color: gray;
}
.products-container table .img,
.category-container table .img {
  text-align: center;
}
.products-container table .price,
.category-container table .price {
  text-align: right;
  padding-right: 20px;
}
.products-container table img,
.category-container table img {
  width: 50px;
  height: 30px;
}
.products-container table tr:nth-child(even),
.category-container table tr:nth-child(even) {
  background-color: #eee;
}
.products-container table tr:hover,
.category-container table tr:hover {
  background-color: #dddddd;
}

.products-container .addnew_btn {
  text-align: right;
}
.products-container .addnew_btn a {
  padding: 10px 15px;
  text-align: right;
  background-color: lightseagreen;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
}
.products-container .addnew_btn a:hover {
  color: lightgreen;
}

.category-container .btnAddnew {
  padding: 10px 15px;
  text-align: right;
  display: inline-block;
  background-color: lightseagreen;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
.category-container .btnAddnew:hover {
  color: lightgreen;
}

.categorynew-container {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 10px auto;
  position: relative;
}
.categorynew-container div {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.categorynew-container div .category {
  padding: 10px;
}
.categorynew-container div .btn_add_category,
.categorynew-container div .btn_update_category {
  margin: 5px auto;
  padding: 10px 40px;
  font-size: 1rem;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.categorynew-container div .btn_add_category:hover {
  color: lightblue;
}
.categorynew-container div .btn_update_category:hover {
  color: lightblue;
}
.categorynew-container .showall {
  padding: 0;
  text-align: right;
}
.categorynew-container .showall a {
  text-decoration: none;
  cursor: pointer;
}
.categorynew-container .showall a:hover {
  text-decoration: underline;
}
.categorynew-container .category_added {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: #eee;
  padding: 20px;
}
.categorynew-container .category_added h3 {
  color: rgba(0, 0, 0, 0.928);
}
.categorynew-container .category_added div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.err_category {
  color: red;
  padding: 5px;
}

.productsnew-container {
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 10px auto;
  position: relative;
}
.productsnew-container .forminputs {
  border: 1px solid #ddd;
  padding: 10px;
  width: 500px;
  margin: auto;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.productsnew-container .forminputs p {
  padding: 10px;
  width: 100%;
}
.productsnew-container .forminputs p label {
  width: 100%;
  display: block;
}
.productsnew-container .forminputs .product,
.productsnew-container .forminputs .price {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
}
.productsnew-container .forminputs .uploaded_file {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.productsnew-container .forminputs .btn_add_products,
.productsnew-container .forminputs .btn_update_products {
  padding: 10px 40px;
  font-size: 1rem;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.productsnew-container .forminputs .btn_add_products:hover {
  color: lightblue;
}
.productsnew-container .forminputs .btn_update_products:hover {
  color: lightblue;
}
.productsnew-container .showall {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  text-align: right;
}
.productsnew-container .showall a {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.productsnew-container .showall a:hover {
  text-decoration: underline;
}
.productsnew-container .products_added {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
.productsnew-container .products_added h3 {
  color: rgba(0, 0, 0, 0.928);
}
.productsnew-container .products_added div {
  padding: 10px;
  width: 100%;
}
.productsnew-container .products_added table {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}
.productsnew-container .products_added table th {
  text-align: left;
  background-color: beige;
  color: gray;
  padding-left: 5px;
}
.productsnew-container .products_added table th, .productsnew-container .products_added table td {
  border: 1px solid #ddd;
}
.productsnew-container .products_added table td {
  padding-left: 10px;
}
.productsnew-container .products_added table td img {
  width: 50px;
}

.catEdit {
  font-size: 0.8rem;
  color: whitesmoke;
  background-color: lightseagreen;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}

.catEdit:hover {
  text-decoration: underline;
  background-color: lightgreen;
  color: gray;
}

.catDelete {
  font-size: 0.8rem;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 15px;
  background-color: lightcoral;
  margin-left: 10px;
  border-radius: 5px;
}

.catDelete:hover {
  text-decoration: underline;
  background-color: red;
  color: gray;
}

.prod_edit {
  font-size: 0.8rem;
  color: whitesmoke;
  background-color: lightseagreen;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}

.prod_edit:hover {
  text-decoration: underline;
  background-color: lightgreen;
  color: gray;
}

.prod_del {
  font-size: 0.8rem;
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 15px;
  background-color: lightcoral;
  margin-left: 10px;
  border-radius: 5px;
}

.prod_del:hover {
  text-decoration: underline;
  background-color: red;
  color: gray;
}

.err_category {
  color: red;
  padding: 5px;
}

.showprodcancel {
  color: red;
}

.update-confirm {
  font-size: 1rem;
  color: blue;
}

.showall_display {
  color: blue !important;
}

.newpic-hide {
  visibility: hidden;
}

.modalBtnCancel,
.modalBtnDelete {
  padding: 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
}

.modalBtnCancel {
  background-color: lightcoral;
  color: white;
}

.modalBtnDelete {
  background-color: red;
  color: white;
  margin-left: 15px;
}

.modalBtnCancel:hover {
  background-color: rgb(197, 101, 101);
  color: white;
}

.modalBtnDelete:hover {
  background-color: rgb(159, 5, 5);
  color: white;
  margin-left: 15px;
}

.modalBtnCancelC,
.modalBtnDeleteC {
  padding: 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: none;
}

.modalBtnCancelC {
  background-color: lightcoral;
  color: white;
}

.modalBtnDeleteC {
  background-color: red;
  color: white;
  margin-left: 15px;
}

.modalBtnCancelC:hover {
  background-color: rgb(197, 101, 101);
  color: white;
}

.modalBtnDeleteC:hover {
  background-color: rgb(159, 5, 5);
  color: white;
  margin-left: 15px;
}/*# sourceMappingURL=admin.css.map */