*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    display: flex;
}
.sideNav{
    width: 200px;
    height:100%;
    background-color: #eee;

    ul{
        width: 100%;
        margin-top: 70px;

        li{
            width: 100%;
            padding: 15px;
            cursor: pointer;
            color: blue;
            font-weight: 700;

            .category-lists{
                width: 100%;
                list-style: none;
                margin-top: 5px;

                li{                    
                   margin-left: 10px;
                    padding: 5px;
                    color: rgb(48, 48, 202);
                    font-weight: 400;
                }
                li:hover{
                    // background-color: #ddd;
                    text-decoration: underline;
                }
            }
            a{
                text-decoration: none;
                color: blue;
                font-weight: 700;
            }
            a:hover{
                color: skyblue;
            }
        }
        li:hover{
            color: skyblue;
        }
    }
}
.rightContent{
    width: calc(100% - 200px);
    height: 100%;
}
.banner{
    width: 100%;
    height: 70px;
    // background-color: #ddd;
    border-bottom: 1px solid #ddd;

    h1{
        padding: 15px 40px;
        color: gray;
    }
}
.content{
    height: auto;
    width: 100%;
}
.products-container,
.category-container{
    width: 90%;
    margin: 15px auto;
    padding: 10px;

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        
        td,th{
            border: 1px solid #ddd;
            padding: 5px;
        }        
        th{
            background-color: #04AA6D;
            color: #ffffff;
        }
        .img{
            text-align: center;
        }
        .price{
            text-align: right;
            padding-right: 20px;
        }
        img{
            width: 50px;
            height: 30px;
        }
        tr:nth-child(even){
            background-color: #eee;
        }
        tr:hover{
            background-color: #dddddd;
        }
    }
}

.category-container{  

    .btnAddnew{
        padding: 10px 15px;
        text-align: right;
        display: inline-block;
        background-color: green;
        color: #eee;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
    }
    .btnAddnew:hover{
        background-color: rgba(0, 128, 0, 0.859);
    }
}



.categorynew-container{
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 20px auto;
    position: relative;


    div{
        width: 80%;
        display: flex;
        flex-direction: column;

        .category{
            // width: 80%;
            padding: 10px;
        }        
        .btn_add_category{
            width: 150px;
            margin: 5px auto;
            padding: 10px;
            cursor: pointer;
        }
    } 
    .showall{
        padding: 0;
        text-align: right;
        a{
            text-decoration: none;
            cursor: pointer;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .category_added{
        width: 100%;        
        margin: auto;
        margin-top: 30px;
        background-color: #eee;
        padding: 20px;
        
        h3{
            color: rgba(0, 0, 0, 0.928);
        }
        div{
            padding:10px;
            border-bottom: 1px solid #ccc;
            width: 100%;
        }
    }    
}
.err_category{
    color: red;
    padding: 5px;
}

