*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.content{
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    margin-top: 100px;
}

@import 'header';

@import 'left-sidebar.scss';

@import 'right-sidebar.scss';

@import 'footer.scss';

